In [7]:
import mysql.connector as db

In [9]:
mydb = db.connect(
  host="91.171.69.177",
  port="26550",
  user="oumarh",
  password="oumarhaidara"
)

mycursor = mydb.cursor()


mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('avions',)
('information_schema',)

In [ ]:
mycursor.execute("CREATE TABLE IF NOT EXISTS airlines (carrier CHAR(2) PRIMARY KEY, name VARCHAR(100))")